body{
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #e1fccb;
}

.gallery{
  max-width: 720px;
  height: 420px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gallery-card{
  border-radius: 0.75rem;  
  overflow: hidden;
  cursor: pointer;
  flex: 1;
  transition: flex 0.75s ease-in-out;
}

.gallery-card img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.75s ease;
}

/* Magic Happens  */
.gallery-card:hover{
  flex: 3;
}

.gallery:has(.gallery-card:hover) .gallery-card:not(:hover) img{
  filter: grayscale(100%);
  opacity: 0.2;
  
}